* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6em;
    color: darkgray;
    background: #e1e1e1;
    font-size: 14px;
}

a {
    color: #333;
    text-decoration: none;
}

#container {
    width: 740px;
    background: white;
    margin: auto;
}

.clearfix {
    clear: both;
}

header {
    padding: 30px 20px;
    background: #f4f4f4;
}

header h1 {
    color: #000;
    margin-bottom: 5px;
}

header span {
    color: #dd2826;
}

section {
    padding: 30px 20px 20px 20px;
}

footer {
    padding: 20px;
    background: #f4f4f4;
    text-align: center;
}

#search-form {
    display: block;
    margin-bottom: 15px;
}

.fieldContainer {
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.search-field {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 45%;
    padding: 11px 7px;
    padding-right: 43px;
    background: #fff;
    color: #000;
    border: 1px solid #c8c8c8;
    font-size: 1.6em;
    border-bottom-color: #d2e2e7;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 6px #f0f0f0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 6px #f0f0f0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 6px #f0f0f0;
}

#search-btn {
    position: absolute;
    right: 360px;
    top: 14px;
    height: 32px;
    width: 32px;
    border: 0;
    cursor: pointer;
    zoom: 1;
    filter: alpha(opacity=55);
    opacity: 0.55;
    background: transparent url(../img/magnifier.png) top left no-repeat;

}

#search-btn:hover {
    filter: alpha(opacity=90);
    opacity: 0.9;
}